<div id="navbar">
  <div id="navbar-content">
    <div id="navbar-left">
      <div style="font-size: 1.5em" class="navbar-items">Sai Social Media</div>
    </div>
    <div id="navbar-right">
      <div *ngIf="!loggedIn()" (click)="onLoginClick()" class="navbar-items">
        Login
      </div>
      <div *ngIf="loggedIn() && userHasProfile" class="navbar-items">
        Hello, {{ userDocument.publicName }}
      </div>
      <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="navbar-items">
        Logout
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>
